@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  /* Centers the content */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #555555;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

.left-links,
.right-links {
  display: flex;
  gap: 15px;
  padding: 0px 15px;
}

.right-links {
  margin-left: auto;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  display: flex;
  margin-bottom: 16px;
}

/* Footer */
.footer {
  background-color: #eeeeee;
  display: flex;
  margin-top: 16px; /*avoids collision between footer and content when resizing */
}